@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100vh;
	background: linear-gradient(to bottom, #91eae4, #86a8e7, #7f7fd5);
	overflow: auto;
	font-family: 'Bad Script', cursive;
}

.wrapper {
	margin: 25px 15px 15px 15px;
}
.todo {
	display: flex;
	flex-direction: column;
	min-height: 95vh;
	max-width: 450px;
	box-shadow: 0 0 1em black;
	background: white;
	margin: 0px auto;
}
.title {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	background: #86a8e7;
	color: white;
	padding: 16px 26px;
	font-size: 30px;
	position: relative;
}
.fa-pencil-alt {
	position: absolute;
	cursor: pointer;
	right: 15px;
}
.input {
	background: white;
	min-width: 100%;
	height: 50px;
	font-size: 20px;
	padding-left: 25px;
	border: 3px solid gray;
	color: gray;
}
.input:focus {
	background: #edf1f5;
	border: 3px solid #86a8e7;
	outline: none;
	color: #86a8e7;
}
.todos {
	flex: 1 1 auto;
}
.todos__item {
	background: rgb(247, 247, 247);
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	font-size: 20px;
}
.todos li:nth-child(2n) {
	background: #edf1f5;
}
.todos li:hover .todos-trash {
	opacity: 1;
	margin-left: 6px;
}
.todos-text {
	pointer-events: none;
	margin-left: 4px;
}
.todos-trash {
	opacity: 0;
	transition: 0.3s linear;
}
.fa-trash-alt {
	color: #7f7fd5;
}
.buttons {
	display: flex;
	flex-direction: row;
	gap: 5px;
	margin: 5px 5px 5px 5px;
}
.button {
	flex: 0 1 33.333%;
	background-color: #86a8e7;
	border: 2px solid #86a8e7;
	color: white;
	padding: 4px 20px;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
	transition: 0.5s ease;
	cursor: pointer;
	font-family: 'Bad Script', cursive;
}
.button:hover {
	background-color: white;
	color: black;
	border: 2px solid #86a8e7;
}
.overlay {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	transition: 0.5s;
	overflow-x: hidden;
}
.overlay__show {
	height: 100%;
}
.overlay__close-tips {
	position: absolute;
	top: 15px;
	right: 40px;
	font-size: 60px;
	color: #86a8e7;
	cursor: pointer;
}
.overlay li {
	text-align: center;
	padding: 15px 20px;
	font-size: 30px;
	color: #d6dbd5;
	display: block;
}
.tips {
	position: relative;
	top: 20%;
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
.input__hide {
	overflow: hidden;
	height: 0px;
	border: none;
	transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s all;
}
.input__show {
	overflow: visible;
	height: 50px;
	border: 3px solid gray;
	transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s all;
}
.done {
	color: gray;
	text-decoration: line-through;
}
@media (max-width: 800px) {
	.tips {
		top: 12%;
	}
	.overlay li {
		font-size: 26px;
		padding: 15px 20px;
	}
}
@media (max-width: 480px) {
	.wrapper {
		margin: 15px 5px 8px 5px;
	}
	.title {
		padding: 14px 21px;
		font-size: 24px;
	}
	.input {
		padding-left: 20px;
	}
	.todos-text {
		font-size: 18px;
	}
	.button {
		padding: 5px 5px;
	}
	.overlay li {
		font-size: 22px;
	}
}